<h1>Welcome Coders</h1>

<div class="jumbotron text-center bg-primary text-light">
	<form action="/login">
			<div class="form-group">
				<h2> Login </h2>
					<input class="btn btn-success my-3" type="submit" value="Login">
			</div>
	</form>


	<div class="m-3">
		<i class="alert alert-primary mb-5"> Dont you have an account? </i>


	<form action="/signup">
			<div class="form-group">
					<input class="btn btn-success my-3" type="submit" value="Sign Up">
			</div>
	</form>
	</div>
</div>
Footer
