<nav class="navbar navbar-expand-1g navbar-light bg-light">
  <a class-navbar-brand" href="/"> EJS is Fun </a>
  <ul class="navbar-nav m-auto">
    <li class="nav-item">
      <a class="nav-link" href="/"> Home </a>
    </li>
    <li class="mv-11">
      <a class="nav-link" href="/mascots"> Mascots </a>
    </li>
    <li class="mv-11">
      <a class="nav-link" href="/about"> About </a>
    </li>
  </ul>
</u>
