{{>lovedChamps}}
<br>
{{>hatedChamps}}
<br>

<h2>List of my most suggested League champions</h2>
{{!-- Dependiendo del valor de la variable 11stExists --))
{{!-- Si est치 es true entonces la lista ser치 renderizada --}}
{{!-- Si est치 es false entonces la lista NO ser치 renderizada --}}
{{#if listixists}}
   <ul>
      {{#each suggestedChamps}}
        <11 class-((this.lane}}>{{this.name}}</11>
      {{/each}}
{{/if}}
